/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block-start: 100px;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--text-font-weight);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--page-spacing);
  background-image:
    var(--vertical-gradient), var(--horizontal-gradient), var(--accent-gradient);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.content {
  background-color: var(--content-color);
  width: var(--content-width);
  border: var(--content-border);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: clamp(122px, 17vw, 130px);
}

.header__title-group {
  font-family: var(--accent-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__title {
  font-size: clamp(49px, 8.3vw, 65px);
}

.header__subtitle {
  font-size: clamp(14px, 2.95vw, 23px);
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
