:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';

  /* в макете в десктопной версии гап меньше чем в мобильной на несколько пикселей
  в качестве эксперимента с помощью сайтов по рассчету clamp попробовал получить
  плавный переход между ними */
  --page-spacing: clamp(98px, calc(100.704px - 0.1878vw), 100px);

  --text-font-weight: 410;
  --heading-font-weight: 715;

  --grid-gradient-main-color: #d3d3d3;
  --grid-gradient-secondary-color: transparent;
  --grid-gradient-line-width: 2px;

  --accent-gradient-main-color: #e7e7e7;
  --accent-gradient-secondary-color: #1a1a1a;
  --accent-gradient-start-point: 0.01%;

  --vertical-gradient: repeating-linear-gradient(
    90deg,
    var(--grid-gradient-main-color) 0,
    var(--grid-gradient-main-color) var(--grid-gradient-line-width),
    var(--grid-gradient-secondary-color) var(--grid-gradient-line-width),
    var(--grid-gradient-secondary-color)
      calc(var(--grid-gradient-line-width) * 2)
  );

  --horizontal-gradient: repeating-linear-gradient(
    180deg,
    var(--grid-gradient-main-color) 0,
    var(--grid-gradient-main-color) var(--grid-gradient-line-width),
    var(--grid-gradient-secondary-color) var(--grid-gradient-line-width),
    var(--grid-gradient-secondary-color)
      calc(var(--grid-gradient-line-width) * 2)
  );

  --accent-gradient: linear-gradient(
    var(--accent-gradient-main-color) var(--accent-gradient-start-point),
    var(--accent-gradient-secondary-color)
  );

  --content-color: #fff;
  --content-width: clamp(375px, 90vw, 700px);
  --content-border: 2px solid currentColor;
}
